/*Children of the body element*/
div { 
	font-family: Arial, Verdana, sans-serif;
}
	
/*Id of "container"*/ 

#container {
			border: 1px solid #665544;
			background-color: #efefef;
			padding: 10px;
}
/*Headings*/
h1, h2 {
		color: #ee3e80;
}

/*Paragraphs*/
p {
		color: #665544;
		float:left;
		margin-right: 10px;
		padding:5px;
		background-color:#efefef;
		width:200px;
}	

/*Strong element*/
strong {
		color: green;
}

/*Em elements*/	
em {
		color: violet;
}

